.box {
  border: 1px solid red;
  color: red;
  padding-top: 30%;
  padding-bottom: 30%;
  padding-left: 30%;
  height: 2px;
  background-repeat: no-repeat;
}

.box1{
	height: 100px;
}
 	
.box2{
	height: 100px;
}

.box3{
	height: 100px;
}

.box4{
	height: 100px;
}

.box5{
	height: 100px;
}

.box6{
	height: 100px;
}

.box7{
	height: 100px;
}

.box8{
	height: 100px;
}

.box9{
	height: 100px;
}


